{% extends "layout.html" %}
{% block title %}Cart{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
    <div class="h3 text-center m-3">Cart</div>
    {% if rows | length < 1 %}
        <div class="h4 text-center m-3">
            <img src="https://user-images.githubusercontent.com/85636187/209202077-a1247184-3ff4-49c7-bee4-f8e7f6949760.png" style="float: inline-start;" />
            Your cart is empty :( <br><br> Go <a href="{{url_for('shop.shop_list')}}" class="link-primary">Shop</a> and add products to the cart!
        </div>
    {% else %}
        <table class="table table-bordered text-dark bg-light px-3" style="text-align: center;">
            <thread>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Actions</th>
                </tr>
            </thread>
            <tbody>
                {% set ns = namespace(total=0) %}
                {% for row in rows %}
                <tr style="vertical-align: middle;">
                    <td style="width:20em">
                        <a href="{{url_for('shop.productDetails', id=row['product_id'],action='view')}}" style="color: black;">{{row["name"]}}</a>
                    </td>
                    <td style="width:12em">
                        <form method="POST">
                            <div class="row">
                                <input type="hidden" name="product_id" value="{{row['product_id']}}"/>
                                <div class="col">
                                    <input type="number" class="form-control" name="quantity"
                                        value="{{row['quantity']}}"  min="0"/>
                                </div>
                                <div class="col d-grid">
                                    <input type="submit" value="Update" class="btn btn-secondary btn-sm" />
                                </div>
                            </div>
                        </form>
                    </td>
                    <td style="width:12em">{{row['subtotal']}}</td>
                    <td style="width:12em">
                        <!-- lazy delete using quantity < 0 logic -->
                        <form method="POST">
                            <input type="hidden" name="product_id" value="{{row['product_id']}}" />
                            <input type="hidden" name="quantity" value="-1" />
                            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                        </form>
                    </td>
                    {# https://stackoverflow.com/a/51880609 #}
                    {% set ns.total = ns.total + row['subtotal'] %}
                </tr>
                {% endfor %}
                <tr>
                    <td class="text-end" colspan="100%">
                        Total: {{ns.total or 0}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex mt-3">
            <a href="{{url_for('shop.cart', action='clear')}}" class="btn btn-primary">Clear Cart</a>
            <a href="{{url_for('shop.checkout')}}" class="btn btn-warning mx-3">Checkout</a>
        </div>
    {% endif %}
</div>
{% endblock %}