{% from "_dropdown_nav.html" import dropdown_nav %}
<nav class="navbar navbar-expand-lg px-4 py-3" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: red; font-weight: 600;" href="{{url_for('auth.landing_page')}}">VShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="{{url_for('auth.landing_page')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="{{url_for('shop.shop_list')}}">Shop</a>
                    </li>
                    {% if current_user.has_role("Admin") %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" href="{{url_for('shop.all_orders')}}">Purchase History</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: white;" href="{{url_for('shop.orders')}}">Purchase History</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="{{url_for('auth.profile')}}">Profile</a>
                    </li>
                    <!-- roles nav (requires admin )-->
                    {% if current_user.has_role("Admin") %}
                        {% set roles = [
                            ("roles.add", "Add"),
                            ("roles.list", "List"),
                            ("roles.assign", "Assign")
                        ] %}
                        {{dropdown_nav("Roles", roles)}}
                    {% endif %}
                    <!-- items nav (requires admin )-->
                    {% if current_user.has_role("Admin") %}
                        {% set roles = [
                        ("shop.product", "Add"),
                        ("shop.product_list", "List")
                        ] %}
                        {{dropdown_nav("Products", roles)}}
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="{{url_for('shop.shop_list')}}">Shop</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if not current_user.is_authenticated %}
                    <li class="nav-item mx-3">
                        <a class="btn btn-outline-light" href="{{url_for('auth.login')}}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="{{url_for('auth.register')}}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-3" href="{{url_for('shop.cart')}}">Cart</a>
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="{{url_for('auth.logout')}}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>